# Django Secret Key
SECRET_KEY=your_secret_key_here

# Database settings
DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASS=your_database_password

# Email settings
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_email_password

# Redis settings
REDIS_HOST=your_redis_host
REDIS_PORT=your_redis_port