<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пароль успешно обновлен</title>
    <style>
        p {text-align: center;}
        div {text-align: center;}
        .card {width: 300px; padding: 20px;}
        .card-text {font-size: 18px; }
    </style>
</head>
<body>
    <div class="card">
        <div class="card-body">
              <p class="card-text">
                <strong>{{ text_detail }}</strong>
              </p>
                 <p class="text-center">
                     <strong>
                         Username - {{ username }}
                     </strong>
                 </p>
                 <p class="text-center">
                     <strong>
                         Email - {{ email }}
                     </strong>
                </p>
                <p class="text-center">
                    Forgot Code - {{ forgot_password_code }}
                </p>
        </div>
    </div>
</body>
</html>